server = "localhost"
channels = ["#gyro"]
nickname = "gyro"
username = "gyro"
realname = "Håll den som en gyro!"
ping_time = 30
ping_timeout = 10

[options]
# required, for accessing http/https over Tor
proxy = "socks5://127.0.0.1:9050"
# http timeout (default is 15)
#timeout = 30
