server = "localhost"
channels = ["#gyro"]
nickname = "gyro"
username = "gyro"
realname = "Håll den som en gyro!"
ping_time = 30
ping_timeout = 10

[options]
# required, for accessing http/https (we currently use privoxy in front of Tor)
proxy = "http://127.0.0.1:8118"
